MonoBleedingEdge/
valheim_Data/                                                     
som.Bears                                                            
steam_appid.txt                                                      
UnityCrashHandler64.exe                                              
UnityPlayer.dll                                                      
valheim.exe                                                          
update.bat
git.exe